<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<title>About</title>
<%- include partials/head %>

<body id="page-top" class="index about_body">
<!-- Preloader -->
<div class="preloader"></div>
<header>
	<!-- Navigation -->
	<%- include partials/nav %>
	
	<div id="page_header">
		<div class="page_title">
			<h3>ABOUT US</h3>
			<ol class="breadcrumb"><li><a href="/">Home</a></li>
				<li> <a href="#wireframe">Wireframe</a></li> 
				<li><a href="#map">Content Map</a></li>
				<li><a href="#project">Project Walkthrough</a></li>
				<li><a href="#credit">Credits</a></li></ol>
		</div>
	</div>
</header>
<!-- Aboutus page header -->
<a name="wireframe">
<section class="text-center" style="display: inline;">
	<h3> Wireframe</h3>
	<img src="../images/wireframe2.png">	<img src="../images/wireframe1.png" >
</section>
</a>


<a name="map">
<section class="text-center" >
<h3> Content Map</h3>
<img src="../images/map.png">
</section>
</a>


<section id="about_page" class="about_page text-center">
	<a name = "project">
	<div class="container">
	
	
			<h3>Project Walkthrough</h3>
			<p> you can find project elements on:</p>
			
			<h4>Login/Register page </h4>
			<p>				
				<li>1. Authentication - show about page when users login</li>

			</p>
				<br><br>
			
			<p> 
			<h4><a href="/">Home page </a></h4>
			<p>				
				<li>1. favicon -</li>
				<li>2. carousel - is shown on home page</li>
				<li>3. SVG - click the SVG can go to different links </li>	
				<li>4. footer navigation</li>		
			</p>
				<br><br>
				<h4><a href="/about">About page</a></h4>
			<p> 
				<li>1. wireframe</li>
				<li>2. content map </li>
				<li>3. project walkthrough </li>
				<li>4. credits </li>
				<br><br>
			</p>
			
			<h4><a href="/feature">featured page </a></h4>
			<p> 
				<li>1. SVG - (icon)</li>
				<li>2. flex box - (pink line) </li>
				<br><br>
			</p>
			<h4><a href="/feature/todotask">featured- To Do List page</a></h4>
			<p> 
				<li>1. server-side persistent storage - store data in local MongoDB</li>
				<li>2. css icon - used for edit and delete button</li>
			<br>
			<br>			
			</p>
			<h4><a href="/feature/game">featured- Game page</a></h4>
			<p> 
				<li>1. canvas - use canvas to create a canvas game </li>
				<li>2. audio - play boom sound when the box crashes</li>
				<li>3. different web fonts - Arial font in canvas game</li>

			<br>
			<br>			
			</p>
			<h4><a href="/feature/video">featured- video page</a></h4>
			<p> 
				<li>1. video </li>
		
			<br>
			<br>			
			</p>
			<h4><a href="/contact">Contact page </a></h4>
			<p> 
			
				<li>1.HTML5 form input validation</li>
		
			<br>
			<br>			
			</p>
		</div>
</section>
</a>


	<section id="about_page" class="about_page text-center">
		<a name = "credit">
		<div class="container">
		
			<div class="content_area">
				<h3>Credits</h3>
			<li> favicon from <a href="https://www.pngrepo.com/svg/228609/summertime-cute"> PNGREPO </a></li>
			<li> svg from <a href="https://www.flaticon.com/?&utm_term=&utm_campaign=EN_EN_GOOGLE_GEN_ICONS&utm_source=adwords&utm_medium=ppc&hsa_acc=5490559948&hsa_cam=11071361262&hsa_grp=108570137225&hsa_ad=485699905089&hsa_src=g&hsa_tgt=aud-995090263863:dsa-955236868029&hsa_kw=&hsa_mt=b&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAiAt9z-BRBCEiwA_bWv-MUWJKtDvOTVDgZdSzh795BVnmnjaFzTNYuN-7cdzaGnn8V3t8nemxoCpC0QAvD_BwE&gclsrc=aw.ds">
			Flaticon</a></li>
			<li>template from <a href="http://sc.chinaz.com/moban/">Chinaz.com</a></li>
			<li>Canvas game tutorial: <a href="https://www.youtube.com/watch?v=lGJ9i6CYKyQ&t=1729s">Youtube</a></li>
			<li>Boom sound from <a href="https://www.freesoundeffects.com/free-sounds/explosion-10070/"> Free Sound Effect.com</a></li>

				
			
				<a href="#"> <div class="btn load_more">Back to Top</div></a>
			</div>
		</div>
	</section>
	</a>

<%- include partials/footer %>
</body>
</html>