<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<title>Featured</title>
<%- include partials/head %>

<body id="page-top" class="index about_body">
<!-- Preloader -->
<div class="preloader"></div>
<header>
	<!-- Navigation -->
	<%- include partials/nav %>
	
	<div id="page_header">
		<div class="page_title">
			<h3>FEATURED</h3>
			
		</div>
	</div>
</header>
<!--Nav-->


<ul style="display: flex;">
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>
	<li class="flex-item" style="background-color:#F0E5DF; width:100px; height: 10px; margin:2%  "></li>

	
  </ul>

	
	<div class="row text-center " style="margin-bottom: 4%">
	<div class="col-md-4">
		<a href="/feature/todotask"><div class="circle"><img src="images/list.svg" style="width:56px" alt="" /></div></a>
		<h4 class="service-heading">To Do List</h4>
		<p class="text-muted">Add your task to your list</p>
	</div>
	<div class="col-md-4">
		<a href="/feature/game"><div class="circle"><img src="images/star.svg" style="width:70px" alt="" /></div></a>
		<h4 class="service-heading">Canvas Game</h4>
		<p class="text-muted">Help the box to avoid obstacles</p>
	</div>
	<div class="col-md-4">
		<a href="/feature/video"><div class="circle"><img src="images/video.svg" style="width:70px" alt="" /></div></a>
		<h4 class="service-heading">Video</h4>
		<p class="text-muted">Watch my photography video</p>
	</div>

	</div>
<!-- Aboutus page header -->




</section>
<%- include partials/footer %>
</body>
</html>