<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<title>Featured</title>
<%- include partials/head %>

<body id="page-top" class="index about_body">
<!-- Preloader -->
<div class="preloader"></div>
<header>
	<!-- Navigation -->
	<%- include partials/nav %>
	
	<div id="page_header">
		<div class="page_title">
			<h3>FEATURED</h3>
			
		</div>
	</div>
</header>
<!--Nav-->



	
	<div class="row text-center ">
	<div class="col-md-7">
		<a href="/feature/todotask"><div class="circle"><img src="images/list.svg" style="width:56px" alt="" /></div></a>
		<h4 class="service-heading">To Do List</h4>
		<p class="text-muted">Add your task to your list</p>
	</div>
	<div class="col-md-2">
		<a href="/feature/game"><div class="circle"><img src="images/star.svg" style="width:70px" alt="" /></div></a>
		<h4 class="service-heading">Brand Design</h4>
		<p class="text-muted">Nunc suscipit eleifend.</p>
	</div>

	</div>
<!-- Aboutus page header -->
<a name="audio"><section id="about_page" class="about_page text-center"></a>
	<div class="container">
		
		
 <h4 class="section-heading"></h4> 
		<div class="content_area">
		
			<h3>Cavetown - This Is Home </h3>
			
				<audio controls>
					
					<source src="https://r3---sn-ab5l6nsy.googlevideo.com/videoplayback?expire=1606278825&ei=SIq9X7CaPPmLhwbDh4nYCw&ip=209.127.110.53&id=o-ANos5n7U-qhf9Nys0nnqUwoJu7aF4lgYilXe8jUlgvXs&itag=250&source=youtube&requiressl=yes&vprv=1&mime=audio%2Fwebm&ns=cYxs-nWFRSshXXXPP8qEs7AF&gir=yes&clen=1972366&dur=225.841&lmt=1574717509743249&fvip=3&keepalive=yes&c=WEB&txp=5531432&n=0-00Vhpz37KlsbV&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cns%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRgIhAJspi5-yKjFpLyZN2Muz3NEYMjsaHF79Ym6OpMrNu2ccAiEA-ijiEphsXoyDZSa4fNvuA8oTwkD9J74UcJZxpcsfd-k=&ratebypass=yes&redirect_counter=1&rm=sn-ab5yy7s&req_id=2f958731ae93a3ee&cms_redirect=yes&ipbypass=yes&mh=SM&mip=98.11.205.213&mm=31&mn=sn-ab5l6nsy&ms=au&mt=1606257158&mv=m&mvi=3&pl=16&lsparams=ipbypass,mh,mip,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAK2L2qyEkmhDcIsOLg7JhM5NgwcKmiVBZ8c5Q9M4Hr-OAiAanBG1OF3FiIOMOB1-bduJHJjVFoUTNnU6W5cSAVui8Q%3D%3D" type="audio/webm">
				Your browser does not support the audio element.
				</audio>
				<a href="https://www.youtube.com/watch?v=9YgmMJJ34k4"><div class="btn load_more"> Listen on Youtube</div></a>
		</div>
	</div>
</section>



</section>
<%- include partials/footer %>
</body>
</html>