<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<title>About US</title>
<%- include partials/head %>

<body id="page-top" class="index about_body">
<!-- Preloader -->
<div class="preloader"></div>
<header>
	<!-- Navigation -->
	<%- include partials/nav %>
	
	<div id="page_header">
		<div class="page_title">
			<h3>FEATURED</h3>
			
		</div>
	</div>
</header>
<!--Nav-->




<!-- Aboutus page header -->
<a name="audio"><section id="about_page" class="about_page text-center"></a>
	<div class="container">
		
		
 <h4 class="section-heading"></h4> 
		<div class="content_area">
		
			<h3>Cavetown - This Is Home </h3>
			
				<audio controls>
					
					<source src="https://r3---sn-ab5l6nsy.googlevideo.com/videoplayback?expire=1606278825&ei=SIq9X7CaPPmLhwbDh4nYCw&ip=209.127.110.53&id=o-ANos5n7U-qhf9Nys0nnqUwoJu7aF4lgYilXe8jUlgvXs&itag=250&source=youtube&requiressl=yes&vprv=1&mime=audio%2Fwebm&ns=cYxs-nWFRSshXXXPP8qEs7AF&gir=yes&clen=1972366&dur=225.841&lmt=1574717509743249&fvip=3&keepalive=yes&c=WEB&txp=5531432&n=0-00Vhpz37KlsbV&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cns%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRgIhAJspi5-yKjFpLyZN2Muz3NEYMjsaHF79Ym6OpMrNu2ccAiEA-ijiEphsXoyDZSa4fNvuA8oTwkD9J74UcJZxpcsfd-k=&ratebypass=yes&redirect_counter=1&rm=sn-ab5yy7s&req_id=2f958731ae93a3ee&cms_redirect=yes&ipbypass=yes&mh=SM&mip=98.11.205.213&mm=31&mn=sn-ab5l6nsy&ms=au&mt=1606257158&mv=m&mvi=3&pl=16&lsparams=ipbypass,mh,mip,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAK2L2qyEkmhDcIsOLg7JhM5NgwcKmiVBZ8c5Q9M4Hr-OAiAanBG1OF3FiIOMOB1-bduJHJjVFoUTNnU6W5cSAVui8Q%3D%3D" type="audio/webm">
				Your browser does not support the audio element.
				</audio>
				<a href="https://www.youtube.com/watch?v=9YgmMJJ34k4"><div class="btn load_more"> Listen on Youtube</div></a>
		</div>
	</div>
</section>


<section id="demo1">
	<div class="container">
		<a name="ourskill"><h4 class="section-heading">OUR SKILL</h4> </a>
		<div class="demo1 col-md-6">
			<div class="skill">
				<!-- progress start -->
				<div class="progress">
					<div class="lead">PHOTOSHOP</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 70%;" data-progress="95%" class="progress-bar wow slideInLeft"> <span>70%</span></div>
				</div>
				<!-- progress end -->
				<!-- progress start -->
				<div class="progress">
					<div class="lead">ILLUSTRATOR</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 30%;" data-progress="90%" class="progress-bar wow slideInLeft"><span>30%</span> </div>
				</div>
				<!-- progress end -->
				<!-- progress start -->
				<div class="progress">
					<div class="lead">PREMIRE PRO</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 90%;" data-progress="85%" class="progress-bar wow slideInLeft"><span>90%</span> </div>
				</div>
				<!-- progress end -->
				<!-- progress start -->
				<div class="progress">
					<div class="lead">DREAMWAVER</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 60%;" data-progress="80%" class="progress-bar wow slideInLeft"><span>60%</span> </div>
				</div>
				<!-- progress end -->                                
			</div>
		</div>
		<div class="demo1 col-md-6">
			<div class="skill">
				<!-- progress start -->
				<div class="progress">
					<div class="lead">AFTER EFECTS</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 80%;" data-progress="95%" class="progress-bar wow slideInLeft"> <span>80%</span></div>
				</div>
				<!-- progress end -->
				<!-- progress start -->
				<div class="progress">
					<div class="lead">EDEG CSS</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 50%;" data-progress="90%" class="progress-bar wow slideInLeft"><span>50%</span> </div>
				</div>
				<!-- progress end -->
				<!-- progress start -->
				<div class="progress">
					<div class="lead">INDESIGN</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 75%;" data-progress="85%" class="progress-bar wow slideInLeft"><span>75%</span> </div>
				</div>
				<!-- progress end -->
				<!-- progress start -->
				<div class="progress">
					<div class="lead">FIREWORKS</div>
					<div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 95%;" data-progress="80%" class="progress-bar wow slideInLeft"><span>95%</span> </div>
				</div>
				<!-- progress end -->                                
			</div>
		</div>
	</div>
</section>


<!-- Team Section -->
<section id="team" class="our-team">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Our Team</h2>
			</div>
		</div>
		<div class="row">
			<div id="owl-demo" class="owl-carousel">
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Kay Garland</h4>
								<p class="text-muted">Lead Designer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img data-src="images/team/1.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Kay Garland</h4>
								<p class="text-muted">Lead Designer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img data-src="images/team/2.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Kay Garland</h4>
								<p class="text-muted">Lead Designer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img data-src="images/team/3.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Kay Garland</h4>
								<p class="text-muted">Lead Designer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img data-src="images/team/1.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Kay Garland</h4>
								<p class="text-muted">Lead Designer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img data-src="images/team/2.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Kay Garland</h4>
								<p class="text-muted">Lead Designer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img data-src="images/team/3.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member item">
						<div class="team-hover">
							<div class="team-hover-content">
								<h4>Diana Pertersen</h4>
								<p class="text-muted">Lead Developer</p>
								<ul class="list-inline social-buttons">
									<li><a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<img src="images/team/3.jpg" class="img-responsive lazyOwl" alt="">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="facts" class="fun-facts">

	<div class="container animatedParent">

		<div class="row">

			<div class="col-lg-12 text-center col-sm-12">

				<h2 class="section-heading">Fun facts</h2>

			</div>

		</div>

		<div class="row wow fadeInUp slower">

			<div class="col-md-3">

				<div class="fact-box hide-bar">

					<i class="icon-awards"></i>
					<h4>Awwards </h4>
					<P>56</P>
				</div>                    

			</div>

			<div class="col-md-3">

				<div class="fact-box pro">

					<i class="icon-customers"></i>
					<h4>Happy Customers </h4>
					<P>32</P>
				</div>                    

			</div>

			<div class="col-md-3">

				<div class="fact-box">

					<i class="icon-codes"></i>
					<h4>Line of Codes </h4>
					<P>66</P>
				</div>                    

			</div>

			<div class="col-md-3">

				<div class="fact-box pro">

					<i class="icon-cup"></i>
					<h4>Cup of cofee </h4>
					<P>97</P>
				</div>                    

			</div>

		</div>

	</div>

</section>
<%- include partials/footer %>
</body>
</html>