<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<title>Sign in</title>
<%- include partials/head %>
<body id="page-top" class="contact-us">
<!-- Preloader -->
<div class="preloader"></div>
<header>
	<!-- Navigation -->
	<%- include partials/nav %>
	<div id="page_header">
		<div class="page_title">
			<h3>Sign in</h3>
			
		</div>
	</div>
</header>
    
<section id="contact">
    <div class="container">
       
               <form action="/users/signin" method="POST" class="validated-form" novalidate>
                   <div class="row">
                       <div class="col-xs-12 col-md-10 col-md-offset-1">
                           <div class="form-holder">
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="username *" id="username" name="username" required data-validation-required-message="Please enter your username.">
                                   <p class="help-block text-danger"></p>
                               </div>
                               <div class="form-group">
                                   <input type="password" class="form-control" placeholder="password *" id="password" name="password" required data-validation-required-message="Please enter your password.">
                                   <p class="help-block text-danger"></p>
                               </div>
                               <div class="form-group">
                               
                               </div>
                               <div id="success"></div>
                               <button type="submit" class="btn btn-primary">Sign in</button>
                           </div>
                       </div>
                   </div>
               </form>
           
   </div>
</section>
<%- include partials/footer %>
</body>
</html>