<head>
    
    <title>Game</title>
    <%- include ../partials/head %>


    <!-- Preloader -->
    <div class="preloader"></div>
    <header>
        <!-- Navigation -->
        <%- include ../partials/nav %>
        <div id="page_header">
            <div class="page_title">
                <h3>Game</h3>
                
            </div>
        </div>
    </header>
    <body>

<style>
    #screen {
        display: block;
        border: 2px solid black;
        background-color: #ffffff;
        margin: 0 auto;
        width: 800px;
        height: 480px;
        margin-bottom: 3%;
    }
    #playBtn{
        width:200px;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
   
        transform: translate(-50%, -50%);
    }
    #container{
     
  position: relative;

    }
   
    
</style>
<div class="row text-center">
   
    <h4>Instruction: Press the Space Button to Play</h4>
 
    
</div>

<div id="container">
<canvas id="screen"> </canvas>

<button  class="btn btn-primary" id="playBtn" onclick="playgame()"> Play Game</button>
</div>
  

<script src="../../js/bird.js"></script>
<script src="../../js/obstacle.js"></script>
<script src="../../js/game.js"></script>


<div class="row text-center ">
<div class="col-md-7">
    <a href="/feature/todotask"><button class="btn btn-primary "> Previous </button></a>
  </div>
  <div class="col-md-3">
    <a href="/feature/video"><button class="btn btn-primary ">Next:Video</button></a>
  </div>
  </div>
</body>
    
   

   <%- include ../partials/footer %>
    </html>