<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>To Do Task</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    
    <!--Icon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    
    <!--owl-carousel css-->
    <link rel="stylesheet" href="../css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../css/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="../css/owl-carousel/owl.transitions.css">
    
    <link rel="stylesheet"  href="../css/animations.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/color1.css">
    
    <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    
    <body id="page-top" class="contact-us">
    <!-- Preloader -->
    <div class="preloader"></div>
    <header>
        <!-- Navigation -->
        <%- include ../partials/nav %>
        <div id="page_header">
            <div class="page_title">
                <h3>To Do Task</h3>
                
            </div>
        </div>
    </header>

    
<section id="contact">
    <div class="container">
       
               <form action="/feature/todotask" method="POST" class="validated-form" novalidate>
                   <div class="row justify-content-md-center ">
                       <div class="col-xs-12 col-md-5 col-md-offset-1">
                        <h1>Add tasks</h1>
                           <div class="form-holder">
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="task" id="task" name="task" required data-validation-required-message="Please enter your task">
                                   <p class="help-block text-danger"></p>
                               </div>
                             
                               <div id="success"></div>
                               <button type="submit" class="btn btn-primary">Add</button>
                           </div>
                           
                       </div>
                   </div>
                   
               </form>
         
               <div class="col-xs-12 col-md-7 col-md-offset-1">
                <h1>Your To Do List</h1>
                   <div class="form-holder">
                <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">task</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td > This is the tasks</td>
                      </tr>
                      <!-- <% task.forEach(details =>{ %>
                        <tr>
                            <td > details.task</td>
                          </tr>

                          <% }) %> -->
                      <tr>
                        <th>2</th>
                 
                       
                      </tr>
                     
                    </tbody>
                  </table>
               </div>
            </div>
               
           
   </div>
</section>

   <%- include ../partials/footer %>
   </body>
    </html>